<!DOCTYPE html>
<html>

    <head>

        <title> Choose Option </title>

    </head>

    <body>

        <form action="#" method="post">

            <p> Choose an option: </p>

            <select id="option" name="option">
                <option value="1"> Today to [date] without holidays </option>
                <option value="2"> Today to [date] with holidays </option>
                <option value="3"> [date] to [date] without holidays </option>
                <option value="4"> [date] to [date] with holidays </option>
            </select>

            <input type="submit" value="Submit">

        </form>

    </body>

</html>